#accountDiv {
    border: 1px solid black;
    width: 35%;
    margin: 20px auto 30px;
    /*background-color: #3e4961;;*/
    border-radius: 6px;
    box-shadow:  0 0 8px #dbdbdb;
    background: #fff;
    color: black;

}
#logIn-username, #logIn-password, #signUp-username, #signUp-password {
    border: 1px solid black;
    border-radius: 6px;
}
.btn-style{
    background-color: #444b5b;
    color: aliceblue;
    height: 40px;
    width: 100px;
    border-radius: 4px;
    border: none;
}