.sidebar-list{
    height: 60px;
    width: 100%;
    padding: 20px;
    display: flex;
    color: #343131;
}
.sidebar-list:hover{
    background-color: #dbdbdb;
    border-color: blue;
    cursor: pointer;
}
.icon{
    flex: 10%;
}
.title{
    flex: 60%;
}
.link {
    text-decoration: none;
}
.subNav{
    text-decoration: none;
}
.subNav-list{
    height: 60px;
    width: 100%;
    padding: 20px;
    display: flex;
    margin-left: 22px;
    color: #343131;
}
.subNav-list:hover{

}