/*.room-section{*/
/*    box-shadow:  0 0 8px #dbdbdb;*/
/*    background:#dbdbdb;*/
/*    width: 70%;*/
/*    margin: 5%;*/

/*}*/
.field.is-floating-label{
    position: relative;
}
.field.is-floating-label .label:before {
    content: "";
    display: block;
    position: absolute;
    top: .775em;
    left: 0;
    right: 0;
    height: .375em;
    background-color: #fff;
    z-index: -1;
}