@font-face {
  font-family: "Averta";
  font-weight: "Bold";
  src: url("../public/Fonts/Averta-Semibold.otf");
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
